<mat-sidenav-container class="container">
    <mat-sidenav #sidebar mode="side" opened="">
        <!-- <app-sidebar></app-sidebar> -->
        <!-- side bar -->
        <div class="navbar">
            <div class="top">
                <!-- <mat-icon>notifications_none</mat-icon> -->
            </div>
            <div class="user">
                <h3>{{ userfirstname }} {{ userlastname }}</h3>
                <div class="text">
                    <h4 style="text-align: center;">{{ mbno }}</h4>
                </div>
            </div>
            
            <div class="menu">
                <div class="menu-item">
                    <button mat-button class="menu-button" [routerLink]="['/']">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </button>

                    <button mat-button class="menu-button" *ngIf="isuser" [matMenuTriggerFor]="addDetailMenu">
                        <mat-icon>calendar_view_day</mat-icon>
                        <span>Birth Reg Form</span>
                        <mat-icon>keyboard_arrow_right</mat-icon> 
                    </button>
                    <mat-menu #addDetailMenu="matMenu">
                        <button mat-menu-item [routerLink]="['/add_detail']">Add Detail</button>
                        <button mat-menu-item [routerLink]="['/manage_detail']">Manage Detail</button>
                    </mat-menu>


                    <button mat-button class="menu-button" *ngIf="isuser" [routerLink]="['/certificate']">
                        <mat-icon>account_circle</mat-icon>
                        <span>Certificate</span>
                    </button>

                    <!-- admin -->

                    <button mat-button mat-button class="menu-button" *ngIf="isadminuser" [matMenuTriggerFor]="addDetailMenu2">
                        <mat-icon>grid_on</mat-icon>
                        <span>Birth Certificate App</span>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <mat-menu #addDetailMenu2="matMenu">
                        <button mat-menu-item [routerLink]="['/new_application']">New Application</button>
                        <button mat-menu-item [routerLink]="['/verified_application']">Verified Application</button>
                        <button mat-menu-item [routerLink]="['/rejected_application']">Rejected Application</button>
                        <button mat-menu-item [routerLink]="['/all_application']">All Application</button>
                    </mat-menu>

                    <!-- <button mat-button class="menu-button" *ngIf="isadminuser" [routerLink]="['/date_report']">
                        <mat-icon>calendar_view_day</mat-icon>
                        <span>B/W Dates Report</span>
                    </button> -->
                    <button mat-button class="menu-button" *ngIf="isadminuser" [routerLink]="['/search_application']">
                        <mat-icon>search</mat-icon>
                        <span>Search</span>
                    </button>
                    <button mat-button class="menu-button"  *ngIf="isadminuser" [routerLink]="['/user_registered']">
                        <mat-icon>account_circle</mat-icon>
                        <span>Registered User</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- end sidebar -->

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <div class="spacer"></div>
                    <mat-form-field class="custom-label" appearance="legacy">
                        <mat-label >{{ useremail }}</mat-label>
                        <mat-select disableRipple>
                            <mat-option  routerLink="/profile">My Profile</mat-option>
                            <mat-option  routerLink="/change-password">Settings</mat-option>
                                <!--(click)="sidebar.toggle()" <mat-option routerLink="/login">Logout</mat-option> -->
                            <mat-option (click)="logout()">Logout</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-toolbar>
            </div>
            <div class="main">
                <!-- Logged as -->
                <h3 style="text-align: center;">Welcome to Online Birth Certificate System-OBCS, {{ userfirstname }} {{ userlastname }}</h3>
                <router-outlet></router-outlet>
            </div>
            <footer class="footer">
                <h3>Online Birth Certificate System-OBCS @ 2023</h3>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>