<div class="content">
    <mat-card>
        <mat-card-header>Change Password</mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
                
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label> 
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="password_confirmation">
                </mat-form-field>
                
                <div >
                    <button class="example-button-row" mat-raised-button color="primary">Save</button>
                    <a routerLink="/" mat-raised-button color="accent">Cancel</a>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
    
</div>