

    




  <p>
    <mat-toolbar class="fixed-toolbar" [ngClass]="{'scrolled': isScrolled}" color="{{ isScrolled ? 'black' : 'primary' }}">
  
      <span>OBCS</span>
      <span class="example-spacer"></span>
      <a mat-button [routerLink]="['/sidebar']" class="blue-link">
        <span>Home</span>
      </a>
      <a mat-button [routerLink]="['/login']" class="blue-link">
        <span>User</span>
      </a>
    </mat-toolbar>
  </p>
  
  
  <div class="content">
    <mat-card>
      <mat-card-header>User Reset Password</mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="resetform" (ngSubmit)="proceedreset()">
          <mat-form-field class="example-full-width">
            <mat-label>User Email</mat-label> 
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label> 
            <input type="password" matInput formControlName="password">
          </mat-form-field>
          <input type="hidden" formControlName="token" [value]="token">
          <div>
            <button class="example-button-row" mat-raised-button color="primary">Submit</button>
            <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
  
  
    <!-- <mat-toolbar [ngClass]="{'scrolled': isScrolled}" color="{{ isScrolled ? 'black' : 'primary' }}"> -->
  <p>
    <mat-toolbar color="primary">
      <span  class="centered-text">Online Birth Certificate System-OBCS @ 2023</span>  
      <!-- <a mat-button [routerLink]="['/login']" class="blue-link">
        <span>Contact Us</span>
      </a> -->
    </mat-toolbar>
  </p>
  